<div class="container">
  <div class="header row">
    <div class="four columns">
      <h1 class="header__text">MAKERSLAB</h1>
    </div>
    <div class="six columns">
      <nav class="row menu">
        <div class=""><a class="menu__link" href="#"> Management </a></div>
        <div class=""><a class="menu__link" href="/stl-pricing"> Price </a></div>
        <div class=""><a class="menu__link" href="/stream"> Stream </a></div>
      </nav>
    </div>
  </div>
</div>