<div class="container">
  <div class="row header">
    <div class="four columns">
      <h1 class="header__text">MAKERSLAB
        <small>Management centre</small>
      </h1>
    </div>
    <div class="four columns">
      <nav class="row menu">
        <a class="menu__link" href="#"> Management </a>|
        <a class="menu__link" href="/stl-pricing"> Price </a>|
        <a class="menu__link" href="/stream"> Stream </a>
      </nav>
    </div>
    <div class="three columns">
      <p>
        Logged in as <span>{{ info.username }}</span>
        <a class="menu__link" href="">Logout</a>
      </p>

    </div>
  </div>
</div>