{% extends "template.jinja2" %}

{% block content %}
  <div class="container">
    <div class="row content">
      <div class="eight columns offset-by-two">
        <h2 id="filename">{{ filename }}</h2>
        <div id="state"><img src="/static/img/loading.gif" alt=""><br> Slicing stl.<br>Please wait</div>
        <div class="done-processing">
          Printing this will cost you
          <span id="price"></span>
          kč
          <br>
          Printing will take
          <span id="time"></span>
          minutes
          <br>
        </div>
        <div class="done-processing">
          {% include 'partials/select-printer.jinja2' %}
          <button onclick="startPrint()">PRINT</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="/static/js/processing.js"></script>
{% endblock %}