{% extends 'template.jinja2' %}

{% block content %}
  <div class="container">
    <div class="row content">
    <div class="stream">
      {% include 'partials/select-printer.jinja2' %}
      <input type="text" class="" id="stream-key" placeholder="YouTube streaming key">
      <button type="submit" class="button" onclick="startStream()">START</button>
      <button type="submit" class="button" onclick="stopStream()">STOP</button>
    </div>
    </div>
  </div>
{% endblock %}


{% block script %}
  <script src="/static/js/stream.js"></script>
{% endblock %}