<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>File upload</title>
    <meta name="description" content="">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <form enctype="multipart/form-data" action="/image_upload" method="post">
        <input type="file" name="file">
        <input type="submit" value="upload">
    </form>
</div>

<script src="/static/js/main.js"></script>
</body>
</html>

