<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>File upload</title>
    <meta name="description" content="">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
<h2>{{ filename }}</h2>
    <div id="state">Processing stl</div>
    <div>
        Printing this will cost you
        <small id="price"></small>
        kč
    </div>

</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/processing.js"></script>
</body>
</html>

